html
  body
    img(src='http://pingjs.com/img/logo_50h.png', alt='Pingjs Logo', title='Pingjs Logo', style='height:50px;')
    p Hi #{user.firstName} #{user.lastName},
    br
    p Your site #{site.url} is currently taking longer time to respond. The current average response time is #{responsiveness} ms. 
    p You have set your threshold to be at #{site.responsiveness} ms.
    p
    p Thank you,
    p Pingjs